@import "modern-normalize/modern-normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply min-h-full flex flex-col;
  }
  body {
    @apply grow;
  }
  div.grid-stack {
    & > div.grid-stack-item {
      @apply !bg-green-800 border border-foreground;
      & > div.grid-stack-item-content {
        @apply !bg-green-700;
      }
    }
  }
  body {
    @apply bg-background text-foreground;
  }
}
